In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
os.chdir("Desktop")

In [9]:
df= pd.read_csv("bank_full.csv", delimiter=";")

In [72]:
import warnings
warnings.filterwarnings("ignore")

In [10]:
df.shape

(45211, 17)

In [11]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
age          45211 non-null int64
job          45211 non-null object
marital      45211 non-null object
education    45211 non-null object
default      45211 non-null object
balance      45211 non-null int64
housing      45211 non-null object
loan         45211 non-null object
contact      45211 non-null object
day          45211 non-null int64
month        45211 non-null object
duration     45211 non-null int64
campaign     45211 non-null int64
pdays        45211 non-null int64
previous     45211 non-null int64
poutcome     45211 non-null object
y            45211 non-null object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [13]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [14]:
df.marital.value_counts()

married     27214
single      12790
divorced     5207
Name: marital, dtype: int64

In [15]:
df.y.value_counts()

no     39922
yes     5289
Name: y, dtype: int64

In [18]:
df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,10.618762,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [19]:
#Lets split the data into yes and no and see some characteristics of these populations

In [21]:
yes= df.loc[df["y"]=="yes"]
no= df.loc[df["y"]=="no"]

In [25]:
#Analyzing continuous variables
df.age.max()-df.age.min()

77

In [26]:
#The balance and duration variables are skewed to the right, mean > median

In [27]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [29]:
df.job.value_counts()

blue-collar      9732
management       9458
technician       7597
admin.           5171
services         4154
retired          2264
self-employed    1579
entrepreneur     1487
unemployed       1303
housemaid        1240
student           938
unknown           288
Name: job, dtype: int64

In [31]:
yes.job.value_counts(normalize=True)

management       0.245982
technician       0.158820
blue-collar      0.133863
admin.           0.119304
retired          0.097561
services         0.069767
student          0.050860
unemployed       0.038192
self-employed    0.035356
entrepreneur     0.023256
housemaid        0.020609
unknown          0.006428
Name: job, dtype: float64

In [32]:
no.job.value_counts(normalize=True)

blue-collar      0.226041
management       0.204323
technician       0.169255
admin.           0.113722
services         0.094810
retired          0.043785
self-employed    0.034868
entrepreneur     0.034167
housemaid        0.028330
unemployed       0.027579
student          0.016758
unknown          0.006362
Name: job, dtype: float64

In [33]:
#Management workers have higher representation in the yes category, compared to blue collars workers in the no category

In [117]:
from sklearn.preprocessing import StandardScaler

In [123]:
sc = StandardScaler()

# Fit the scaler to the training data and transform
X= sc.fit_transform(X)

In [124]:
X.shape

(45211, 51)

In [125]:
X= df.drop(["y"],1)

In [126]:
X= pd.get_dummies(X)

In [127]:
y= df["y"]

In [128]:
from sklearn.preprocessing import LabelEncoder

In [129]:
le= LabelEncoder()

In [130]:
le.fit(y)

LabelEncoder()

In [131]:
y= le.transform(y)

In [132]:
df.y= le.transform(df.y)

In [133]:
from imblearn.over_sampling import SMOTE

In [134]:
sm = SMOTE(random_state=42)

In [135]:
from sklearn.model_selection import train_test_split as tts

In [136]:
X_train,X_test,y_train,y_test= tts(X,y,test_size=0.3,random_state=42)

In [137]:
X_train_res, y_train_res = sm.fit_sample(X_train, y_train.ravel())

In [138]:
cols = X_train.columns

In [139]:
X_train_res = pd.DataFrame(X_train_res,columns = cols)

In [140]:
y_train_res = pd.Series(y_train_res)

In [141]:
from sklearn.linear_model import LogisticRegression

In [142]:
logreg= LogisticRegression()

In [143]:
logreg.fit(X_train_res,y_train_res)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [144]:
y_pred_logreg= logreg.predict(X_test)

In [145]:
from sklearn.metrics import accuracy_score

In [200]:
logreg_score= accuracy_score(y_test,y_pred_logreg)
logreg_score

0.9002506635210852

In [147]:
from sklearn.model_selection import cross_val_score
accuracy = cross_val_score(logreg, X, y, cv=10,scoring='accuracy')
print (accuracy)
cv_score_logreg= cross_val_score(logreg, X, y, cv=10,scoring='accuracy').mean()

[0.88987174 0.90336134 0.87967264 0.86662243 0.89449237 0.87967264
 0.84207034 0.4136253  0.89847379 0.69955752]

In [148]:
cv_score_logreg

0.8167420111576955

In [150]:
#Regularization with Logistic Regression using Grid Search CV
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
grid={"C":np.logspace(-3,3,7), "penalty":["l1","l2"]}# l1 lasso l2 ridge
logreg=LogisticRegression()
logreg_cv=GridSearchCV(logreg,grid,cv=10)
logreg_cv.fit(X_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'C': array([1.e-03, 1.e-02, 1.e-01, 1.e+00, 1.e+01, 1.e+02, 1.e+03]), 'penalty': ['l1', 'l2']},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [201]:
print("tuned hpyerparameters :(best parameters) ",logreg_cv.best_params_)
print("accuracy :",logreg_cv.best_score_)
logreg_grid= logreg_cv.best_score_

tuned hpyerparameters :(best parameters)  {'C': 10.0, 'penalty': 'l2'}
accuracy : 0.9024552090245521

In [153]:
#Lets use a support vector machine 
from sklearn.svm import SVC

In [154]:
svc= SVC()

In [155]:
svc.fit(X_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [156]:
y_pred_svc= svc.predict(X_test)

In [203]:
svm_score= accuracy_score(y_test,y_pred_svc)
svm_score

0.8821881450899439

In [159]:
#Now lets try a Naive Bayes algorithm

In [160]:
from sklearn.naive_bayes import GaussianNB

In [161]:
gnb= GaussianNB()

In [163]:
gnb.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [164]:
y_pred_gnb= gnb.predict(X_test)

In [205]:
gnb_score= accuracy_score(y_test,y_pred_gnb)
gnb_score

0.8481273960483633

In [187]:
from sklearn.neighbors import KNeighborsClassifier

In [188]:
knn= KNeighborsClassifier()

In [189]:
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [207]:
y_pred_knn= knn.predict(X_test)
knn_score= accuracy_score(y_test,y_pred_knn)
knn_score

0.8791654379239162

In [209]:
#Cross validation with knn
knn_cv_score= cross_val_score(knn, X,y,cv=10, scoring = "accuracy").mean()
knn_cv_score

0.8742756987033218

In [166]:
#Logistic regression gives high results but looks like it may be overfitted
#SVM gives a good score but takes very long for the training phase
#KNN also gives good results- both with and without CV
#Naive bayes is fast and gives a good accuracy. So far if I had to pick a single model I would go with Naive Bayes

In [195]:
#Ensembling techniques

In [168]:
#Gradient Boosting
from sklearn.ensemble import GradientBoostingClassifier

In [169]:
gbc= GradientBoostingClassifier()

In [170]:
gbc.fit(X_train,y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              n_iter_no_change=None, presort='auto', random_state=None,
              subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False)

In [171]:
y_pred_gbc= gbc.predict(X_test)

In [211]:
gbc_score= accuracy_score(y_test,y_pred_gbc)
gbc_score

0.9047478619876143

In [173]:
#What are some of the shortcomings of the Gradient Boosting algorithm?

In [174]:
from sklearn.ensemble import AdaBoostClassifier

In [175]:
ada= AdaBoostClassifier()

In [176]:
ada.fit(X_train,y_train)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None)

In [177]:
y_pred_ada= ada.predict(X_test)

In [214]:
ada_score= accuracy_score(y_test,y_pred_ada)
ada_score

0.8971542317900324

In [179]:
from sklearn.ensemble import RandomForestClassifier

In [182]:
rf= RandomForestClassifier(n_estimators= 300)

In [183]:
rf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=300, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [184]:
y_pred_rf= rf.predict(X_test)

In [216]:
rf_score= accuracy_score(y_test,y_pred_rf)
rf_score

0.9069595989383663

In [198]:
#Which features are important?
importances_rf = pd.Series(rf.feature_importances_,
                          index = X.columns)
sorted_importances = importances_rf.sort_values(ascending=False)
sorted_importances.head(5)

duration            0.262709
age                 0.092754
balance             0.092529
day                 0.078965
poutcome_success    0.050594
dtype: float64

In [221]:
from xgboost import XGBClassifier

In [223]:
xgb= XGBClassifier()

In [224]:
xgb.fit(X_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [225]:
y_pred_xgb= xgb.predict(X_test)

In [228]:
xgb_score= accuracy_score(y_test,y_pred_xgb)
xgb_score

0.902241226776762

In [218]:
#Creating a dictionary of the results of the single models
single_model = {}
single_model["Logistic Regression"]= logreg_grid
single_model["KNN"]= knn_cv_score
single_model["Support Vector Machines"]= svm_score
single_model["Naive Bayes"]= gnb_score

In [219]:
single_model

{'Logistic Regression': 0.9024552090245521,
 'KNN': 0.8742756987033218,
 'Support Vector Machines': 0.8821881450899439,
 'Naive Bayes': 0.8481273960483633}

In [229]:
#Creating a dictionary of the results of the ensemble models
ensemble_models= {}
ensemble_models["Gradient Boosting"]= gbc_score
ensemble_models["Adaboost"]= ada_score
ensemble_models["Random Forest"]= rf_score
ensemble_models["XGBoost"]= xgb_score

In [230]:
ensemble_models

{'Gradient Boosting': 0.9047478619876143,
 'Adaboost': 0.8971542317900324,
 'Random Forest': 0.9069595989383663,
 'XGBoost': 0.902241226776762}